@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Neue Plak", ui-sans-serif, system-ui, sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-card-muted-hover: var(--card-muted-hover);
  --color-card-hover: var(--card-hover);
  --color-premium: var(--yellow-primary);
  --color-border-muted: var(--border-muted);
  --color-border-muted-hover: var(--border-muted-hover);
  --color-nav-bg: var(--nav-bg);
  --color-nav-bg-active: var(--nav-bg-active);
  --color-translucent-bg: var(--translucent-bg);
  --color-translucent-white-bg: var(--translucent-white-bg);
  --color-card-hover-bg: var(--card-hover-bg);
  --color-border-translucent: var(--border-translucent);
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
  --translucent-bg: rgba(0, 0, 0, 0.5);
  --translucent-white-bg: rgba(0, 0, 0, 0.5);
  --gray-1: #131314;
  --gray-2: #141415;
  --gray-3: #19191B;
  --gray-4: #28282A;
  --gray-5: #2A2A2B;
  --gray-6: #333333;
  --gray-7: #474749;
  --gray-8: #A3A3A3;
  --gray-9: #DFDCD7;
  --yellow-primary: #F4BB2E;
  --radius: 0.625rem;

  /* Theme mappings linking semantic names to standardized ordered gray scales */
  --card: var(--gray-1);
  --card-muted-hover: var(--gray-4);
  --card-hover: var(--gray-8);
  --border-muted: var(--gray-6);
  --border-muted-hover: var(--gray-7);
  --nav-bg: var(--gray-2);
  --nav-bg-active: var(--gray-5);
  --card-hover-bg: var(--gray-3);

  /* Standard theme variables required for base component styles & tailwind components */
  --border: var(--gray-6);
  --border-translucent: rgba(255, 255, 255, 0.5);
  --popover: #FFFFFF;
  --popover-foreground: #0A0A0A;
  --primary: #171717;
  --primary-foreground: #FAFAFA;
  --secondary: #F5F5F5;
  --secondary-foreground: #171717;
  --muted: #F5F5F5;
  --muted-foreground: #737373;
  --accent: #FA9696;
  --accent-foreground: #171717;
  --destructive: #E7000B;
  --input: #E5E5E5;
  --ring: #A1A1A1;

  --sidebar: #FAFAFA;
  --sidebar-foreground: #0A0A0A;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #F5F5F5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #E5E5E5;
  --sidebar-ring: #A1A1A1;

  --chart-1: #D4D4D4;
  --chart-2: #737373;
  --chart-3: #525252;
  --chart-4: #404040;
  --chart-5: #262626;

  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}